.JunSung {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
  
.ocean {
  height: 5%;
  width: 100%;
  position: relative;
  background: #015871;
}
  
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
}
  
.wave:nth-of-type(2) {
  top: -175px;
  opacity: 1;
}
  