.background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background {
  margin: auto;
  position: relative;
  object-fit: cover;
  width: 100%;
}

.namecard-container {
  font-size: 2rem;
  font-weight: 600;
}

.namecard {
  padding: 1em;
  background-color: #9fb9fc;
  border-radius: 0.6em;
  width: fit-content;
}
