.container {
  width: 100%;
  background-color: grey;
}
.background-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.background {
  padding-top: 10vh;

  position: relative;
  object-fit: cover;
  width: 80%;
}

.namecard-container {
  width: fit-content;
  padding-top: 10vh;
  font-size: 2rem;
  font-weight: 600;
}

.namecard {
  padding: 1em;
  background-color: #9fb9fc;
  border-radius: 0.6em;
  width: fit-content;
}
