.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dropdown {
  width: 200px;
  margin: 20px auto;
}

.text-input {
  width: 200px;
  margin: 20px auto;
}

.wonjong {
  color: red;
  font-size: 20px;
}

.refresh {
  background: purple;
}

.spin {
  display: inline-block;
}
